{{#if bigsize}}
	<div class="ui input big">
		<input type="password"/>
	</div>
	<button class="ui icon button transparent">
		<i class="unhide icon myblue" {{action "toggle_password"}}></i>
	</button>
{{else}}
	<div class="ui input">
		<input type="password"/>
	</div>
	<button class="ui icon button transparent">
		<i class="unhide icon myblue" {{action "toggle_password"}}></i>
	</button>
{{/if}}