<div class="toggle_input clearfix">
	<div class="toggle_box fl">
		<span class="toggle_span fl"></span>
		<input type="checkbox" {{action "toggle_off_on"}}>
	</div>
	<label class="fl">off</label>
</div>
