<div class="ui vertical menu" id="nav">

	{{#each model as |func|}}
		{{#link-to "main.funcs.func" func.func_slug}}
			<div class="item">
				<span class="navimg"></span>
				<p>{{func.name}}</p>
			</div>
		{{/link-to}}
	{{/each}}
	
</div>

<script>
	$(function(){
		$("#nav .navimg").each(function(i){
			$(this).css("background-position-y",-i*57+"px");
		});

		$("#nav .item").mouseover(function(){
			$(this).parent().addClass("current");
		}).mouseout(function(){
			$(this).parent().removeClass("current");
		});
	})

</script>