<div id="kind15_t" class="ui horizontal list">

	<div class="item">
		<div class="content">
			<div class="center">接受字节数</div>
			<div class="center">0.00KB</div>
		</div>
	</div>

	<div class="item">
		<div class="content">
			<div class="center">发送字节数</div>
			<div class="center">2.79GB</div>
		</div>
	</div>

	<div class="item">
		<div class="content">
			<div class="center">接受数据包数</div>
			<div class="center">0</div>
		</div>
	</div>

	<div class="item">
		<div class="content">
			<div class="center">发送数据包数</div>
			<div class="center">815B</div>
		</div>
	</div>
	
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>