<div class="ui horizontal list" id="kind18_t">

	<div class="item">
		<div class="ui list showdetail">

			<div class="item">
				<div>2.4G：</div>
				<div class="itemright">
					开启
				</div>
			</div>

			<div class="item">
				<div>无线名称：</div>
				<div class="itemright">
					liu_2G
				</div>
			</div>

			<div class="item">
				<div>无线登录密码：</div>
				<div class="itemright">
					关闭
				</div>
			</div>

			<div class="item">
				<div>无线信号功率：</div>
				<div class="itemright">
					100
				</div>
			</div>

			<div class="item">
				<div>信道：</div>
				<div class="itemright">
					自动
				</div>
			</div>

			<div class="item">
				<div>模式：</div>
				<div class="itemright">
					11B/G/N default
				</div>
			</div>

			<div class="item">
				<div>频道带宽：</div>
				<div class="itemright">
					20/40Mhz
				</div>
			</div>

			<div class="item">
				<div>BSSID：</div>
				<div class="itemright">
					542a:a2:53:00:7c
				</div>
			</div>

		</div>
	</div>

	<div class="item">
		<div class="ui list showdetail">

			<div class="item">
				<div>5G：</div>
				<div class="itemright">
					---
				</div>
			</div>

			<div class="item">
				<div>无线名称：</div>
				<div class="itemright">
					---
				</div>
			</div>

			<div class="item">
				<div>无线登录密码：</div>
				<div class="itemright">
					---
				</div>
			</div>

			<div class="item">
				<div>无线信号功率：</div>
				<div class="itemright">
					---
				</div>
			</div>

			<div class="item">
				<div>信道：</div>
				<div class="itemright">
					---
				</div>
			</div>

			<div class="item">
				<div>模式：</div>
				<div class="itemright">
					---
				</div>
			</div>
			
			<div class="item">
				<div>频道带宽：</div>
				<div class="itemright">
					---
				</div>
			</div>

			<div class="item">
				<div>BBSID：</div>
				<div class="itemright">
					---
				</div>
			</div>

		</div>
	</div>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>