<div class="ui horizontal list" id="kind17_t">

	<div class="item">
		<div class="ui list showdetail">

			<div class="item">
				<div>网关地址：</div>
				<div class="itemright">
					192.168.68.1
				</div>
			</div>

			<div class="item">
				<div>子网掩码：</div>
				<div class="itemright">
					255.255.255.0
				</div>
			</div>

			<div class="item">
				<div>DHCP：</div>
				<div class="itemright">
					开启
				</div>
			</div>

		</div>
	</div>

	<div class="item">
		<div class="ui list showdetail">

			<div class="item">
				<div>IP地址租赁期时长：</div>
				<div class="itemright">
					12小时
				</div>
			</div>

			<div class="item">
				<div>MAC地址：</div>
				<div class="itemright">
					00:50:F1:80:00:00
				</div>
			</div>

		</div>
	</div>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>