<div id="kind13_t">
	<div class="ui list clearfix settingdetail">

		<div class="item center">
			<span>软件版本</span>
			<span>&nbsp;&nbsp;</span>
			<span>20151121061545</span>
			<span>&nbsp;&nbsp;</span>
			<span>立即检查更新</span>
		</div>
		
	</div>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>