<div class="ui horizontal list" id="kind16_t">

	<div class="item">
		<div class="ui list showdetail">

			<div class="item">
				<div>IP地址：</div>
				<div class="itemright">
					123
				</div>
			</div>

			<div class="item">
				<div>子网掩码：</div>
				<div class="itemright">
					255.255.255.0
				</div>
			</div>

			<div class="item">
				<div>网关：</div>
				<div class="itemright">
					0.0.0.0
				</div>
			</div>

			<div class="item">
				<div>连接类型：</div>
				<div class="itemright">
					dhcp
				</div>
			</div>

		</div>
	</div>

	<div class="item">
		<div class="ui list showdetail">

			<div class="item">
				<div>DNA1服务器：</div>
				<div class="itemright">
					0.0.0.0
				</div>
			</div>

			<div class="item">
				<div>DNA2服务器：</div>
				<div class="itemright">
					
				</div>
			</div>

			<div class="item">
				<div>数据包MTU：</div>
				<div class="itemright">
					1500
				</div>
			</div>

			<div class="item">
				<div>MAC地址：</div>
				<div class="itemright">
					4A:8C:D0:99:0D:8C
				</div>
			</div>
			
		</div>
	</div>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>