<div id="kind12_t">
	<div class="ui list clearfix settingdetail">

		<div class="item">
			<div>输入原始密码：</div>
			<div class="itemright passwordinput">
				{{input-password}}
			</div>
		</div>

		<div class="item">
			<div>输入新密码：</div>
			<div class="itemright passwordinput">
				{{input-password}}
			</div>
		</div>

		<div class="item">
			<div>再次输入：</div>
			<div class="itemright passwordinput">
				{{input-password}}
			</div>
		</div>


		<div class="centerbtn">
			<div class="ui button bgblue">
				保存设置
			</div>
		</div>
		
	</div>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>