<div id="kind14_t">
	<div class="ui list clearfix settingdetail">
		<div class="centerbtn">
			<div class="ui button bgblue">
				一键恢复出厂设置
			</div>
		</div>
	</div>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>