<div id="kind10_t">
	<p class="center">小悅网关助手APP</p>
	<p class="center"><img src="assets/erweima.png" alt=""></p>
	<p class="center">扫描二维码下载应用</p>
</div>

<script>
  
  $(function(){
  
    var main_height=$("#main").outerHeight();
    $("#nav").css("height",main_height);
  
  })

</script>